{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Juez {{ pen_juez.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + pen_juez.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'pen_juez_id': pen_juez.id} %}
        {% call f.form_tag('pen_jueces.edit', fid='pen_juez_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
