{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Agente MP {{ pen_agente_mp.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + pen_agente_mp.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'pen_agente_mp_id': pen_agente_mp.id} %}
        {% call f.form_tag('pen_agentes_mp.edit', fid='pen_agente_mp_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
