{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Expediente {{ pen_expediente.expediente }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Expediente ' + pen_expediente.expediente) %}
        {{ topbar.button_previous('Expedientes', url_for('pen_expedientes.list_active')) }}
        {% if current_user.can_edit('PEN EXPEDIENTES') %}
            {{ topbar.button_edit('Editar', url_for('pen_expedientes.edit', pen_expediente_id=pen_expediente.id)) }}
        {% endif %}
        {% if current_user.can_admin('PEN EXPEDIENTES') %}
            {% if pen_expediente.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('pen_expedientes.delete', pen_expediente_id=pen_expediente.id)) }}{% endif %}
            {% if pen_expediente.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('pen_expedientes.recover', pen_expediente_id=pen_expediente.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=pen_expediente.estatus) %}
        {{ detail.label_value('Expediente', pen_expediente.expediente) }}
        {{ detail.label_value('Fecha', pen_expediente.fecha) }}
        {% if current_user.can_view('AUTORIDADES') %}
            {{ detail.label_value('Juzgado', pen_expediente.autoridad.descripcion_corta, url_for('autoridades.detail', autoridad_id=pen_expediente.autoridad_id)) }}
        {% else %}
            {{ detail.label_value('Juzgado', pen_expediente.autoridad.descripcion_corta) }}
        {% endif %}
        {% if current_user.can_view('PEN AGENTES MP') %}
            {{ detail.label_value('Agente M.P.', pen_expediente.pen_agente_mp.nombre, url_for('pen_agentes_mp.detail', pen_agente_mp_id=pen_expediente.pen_agente_mp_id)) }}
        {% else %}
            {{ detail.label_value('Agente M.P.', pen_expediente.pen_agente_mp.nombre) }}
        {% endif %}
        {% if current_user.can_view('PEN JUECES') %}
            {{ detail.label_value('Juez', pen_expediente.pen_juez.nombre, url_for('pen_jueces.detail', pen_juez_id=pen_expediente.pen_juez_id)) }}
        {% else %}
            {{ detail.label_value('Juez', pen_expediente.pen_juez.nombre) }}
        {% endif %}
        {% if current_user.can_view('PEN SECRETARIOS') %}
            {{ detail.label_value('Secretario', pen_expediente.pen_secretario.nombre, url_for('pen_secretarios.detail', pen_secretario_id=pen_expediente.pen_secretario_id)) }}
        {% else %}
            {{ detail.label_value('Secretario', pen_expediente.pen_secretario.nombre) }}
        {% endif %}
        {{ detail.label_value('Delitos', pen_expediente.delitos) }}
    {% endcall %}
    {% if current_user.can_view('PEN INCULPADOS') %}
        {% call detail.card('Inculpados') %}
            <table id="pen_inculpados_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Apodo</th>
                        <th>Sexo</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('PEN EXPEDIENTES') %}
        {% if pen_expediente.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + pen_expediente.expediente + '?') }}{% endif %}
        {% if pen_expediente.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + pen_expediente.expediente + '?') }}{% endif %}
    {% endif %}
    <!-- Constructor de DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Inculpados de la Expediente -->
    {% if current_user.can_view('PEN INCULPADOS') %}
        <script>
            // DataTable Inculpados
            let configDTPenInculpados = constructorDataTable.config();
            configDTPenInculpados['ajax']['url'] = '/pen_inculpados/datatable_json';
            configDTPenInculpados['ajax']['data'] = { estatus: "A", pen_expediente_id: {{ pen_expediente.id}} };
            configDTPenInculpados['columns'] = [
                { data: 'detalle' },
                { data: 'apodo' },
                { data: 'sexo' },
                { data: 'estado' }
            ];
            configDTPenInculpados['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.nombre + '</a>';
                    }
                }
            ];
            // Filtros Inculpados
            const filtrosPenInculpados = new FiltrosDataTable('#pen_inculpados_datatable', configDTPenInculpados);
            //filtrosPenInculpados.agregarInput('filtroParametroUno', 'parametro_uno');
            //filtrosPenInculpados.agregarInput('filtroParametroDos', 'parametro_dos');
            filtrosPenInculpados.precargar();
        </script>
    {% endif %}
{% endblock %}
