{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Secretario {{ pen_secretario.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Secretario ' + pen_secretario.nombre) %}
        {{ topbar.button_previous('Secretarios', url_for('pen_secretarios.list_active')) }}
        {% if current_user.can_edit('PEN SECRETARIOS') %}
            {{ topbar.button_edit('Editar', url_for('pen_secretarios.edit', pen_secretario_id=pen_secretario.id)) }}
        {% endif %}
        {% if current_user.can_admin('PEN SECRETARIOS') %}
            {% if pen_secretario.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('pen_secretarios.delete', pen_secretario_id=pen_secretario.id)) }}{% endif %}
            {% if pen_secretario.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('pen_secretarios.recover', pen_secretario_id=pen_secretario.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=pen_secretario.estatus) %}
        {{ detail.label_value('Nombre', pen_secretario.nombre) }}
    {% endcall %}
    {% if current_user.can_view('PEN EXPEDIENTES') %}
        {% call detail.card('Expedientes') %}
            <table id="pen_expedientes_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Juzgado</th>
                        <th>Expediente</th>
                        <th>Fecha</th>
                        <th>Agente M.P.</th>
                        <th>Juez</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('PEN SECRETARIOS') %}
        {% if pen_secretario.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar a ' + pen_secretario.nombre + '?') }}{% endif %}
        {% if pen_secretario.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar a ' + pen_secretario.nombre + '?') }}{% endif %}
    {% endif %}
    <!-- Constructor de DataTables -->
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Expedientes de la Secretario -->
    {% if current_user.can_view('PEN EXPEDIENTES') %}
        <script>
            // DataTable Expedientes
            let configDTPenExpedientes = constructorDataTable.config();
            configDTPenExpedientes['ajax']['url'] = '/pen_expedientes/datatable_json';
            configDTPenExpedientes['ajax']['data'] = { estatus: "A", pen_secretario_id: {{ pen_secretario.id}} };
            configDTPenExpedientes['columns'] = [
                { data: 'autoridad_clave' },
                { data: 'detalle' },
                { data: 'fecha' },
                { data: 'pen_agente_mp' },
                { data: 'pen_juez_nombre' },
            ];
            configDTPenExpedientes['columnDefs'] = [
                {
                    targets: 1, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.expediente + '</a>';
                    }
                }
            ];
            // Filtros Expedientes
            const filtrosPenExpedientesconfigDTPenExpedientes = new FiltrosDataTable('#pen_expedientes_datatable', configDTPenExpedientes);
            //filtrosPenExpedientesconfigDTPenExpedientes.agregarInput('filtroParametroUno', 'parametro_uno');
            //filtrosPenExpedientesconfigDTPenExpedientes.agregarInput('filtroParametroDos', 'parametro_dos');
            filtrosPenExpedientesconfigDTPenExpedientes.precargar();
        </script>
    {% endif %}
{% endblock %}
