{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Editar Secretario {{ pen_secretario.nombre }}{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Editar ' + pen_secretario.nombre) }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% set form_kwargs = {'pen_secretario_id': pen_secretario.id} %}
        {% call f.form_tag('pen_secretarios.edit', fid='pen_secretario_form', **form_kwargs) %}
            {% call f.form_group(form.nombre) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}
